﻿@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <base href="/"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="loading" ng-show="app.loading">Loading...</div>
    <div class="body-content ng-cloak" ng-hide="app.loading">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Application Name</a>
                </div>
                <div ng-if="security.user" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="navbar-text nofloat">Hello, <a href="/manage" class="navbar-link" ng-bind="security.user.userName"></a>!</span>
                        </li>
                        <li><a href="" ng-click="security.logout()">Log off</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <section id="body" ng-view>

        </section>
        
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>
        </footer>
    </div>

    <div class="appAlerts ng-cloak">
        <alert ng-repeat="alert in alerts" type="alert.type" close="alert.close(alert, $index)">
            <span class="message" ng-bind-html="alert.message"></span>
        </alert>
    </div>

    <!-- Templates -->
    @Html.Partial("_Home")
    @Html.Partial("_Login")
    @Html.Partial("_Manage")
    @Html.Partial("_Register")
    @Html.Partial("_RegisterExternal")
    @Html.Partial("_ForgotPassword")
    @Html.Partial("_ResetPassword")
    @Html.Partial("_ConfirmEmail")
    <!-- End Templates -->

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularBootstrap")
    @Scripts.Render("~/bundles/app")
</body>
</html>
