﻿@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <base href="/"/>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.7.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
</head>
<body>
    <div class="loading" ng-show="app.loading">Loading...</div>
    <div class="body-content ng-cloak" ng-hide="app.loading">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Application Name</a>
                </div>
                <div ng-if="security.user" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="navbar-text nofloat">Hello, <a href="/manage" class="navbar-link" ng-bind="security.user.userName"></a>!</span>
                        </li>
                        <li><a href="" ng-click="security.logout()">Log off</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <section id="body" ng-view>

        </section>
        
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>
        </footer>
    </div>

    <!-- Templates -->
    @Html.Partial("_Home")
    @Html.Partial("_Login")
    @Html.Partial("_Manage")
    @Html.Partial("_Register")
    @Html.Partial("_RegisterExternal")
    @Html.Partial("_ForgotPassword")
    @Html.Partial("_ResetPassword")
    @Html.Partial("_ConfirmEmail")
    <!-- End Templates -->
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.10.0.js"></script>
</body>
</html>
